body{
    background: black url("../images/IMG_3483-6-1200.gif") no-repeat;
    text-align: center;
    margin: 0 auto;
    background: cover;
}


#banner {
    background-color:black;
    margin: 0px auto black;
    padding: 0px black;
}

#greeting{
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    /* opacity: .9;
    text-shadow: 0 1px 20px #F4CA60; */
    color: #F4CA60;
    display: inline;
    background: black;
    box-shadow: 10px 0 0 black, -10px 0 0 black;

}

#bio {
    display: inline;
    background: black;
    box-shadow: 10px 0 0 black, -10px 0 0 black;
    font-size: 16px;
    color: #F4CA60;

}

.fa-github-square {
    width: 30px;
    height: auto;
}

#links {
    position: sticky;
    top: 0;
    z-index: 1000;
    /* background-color: lightgray; */
    opacity: .9;
    margin-bottom: 10px;
}

#intro {
    padding: 20px;   
    box-shadow: black 2px;
}

.text-box {
    padding: black;
    
}

.pps {
    width: 150px;
    height: 150px;
}

h4, p {
    font-family: 'Comfortaa', cursive;
}

h4 {
    text-align: center;
}

#space {
    height: 231px;
    width: 100%;
}

#projectTitle  {
    color: white;
    display: inline;
    background: #627EB9;
    box-shadow: 10px 0 0 #627EB9, -10px 0 0 #627EB9;
    
}

#projectSubTitle {
    color: white;
    display: inline;
    background: #627EB9;
    box-shadow: 10px 0 0 #627EB9, -10px 0 0 #627EB9;

}

#projectSection {
    position: relative;
}

.card-divider {
    background-color: #627EB9;
    opacity: .9;
    color: white;
}


.project-image {
    width: 230px;
    height:230px;
}

div.card-section {
    display: block;
    overflow: hidden;
    text-align: center;    
}










/* Small only */
/* @media screen and (max-width: 39.9375em) {}

/* Medium and up */
/* @media screen and (min-width: 40em) {} */

/* Medium only */
/* @media screen and (min-width: 40em) and (max-width: 63.9375em) {} */

/* Large and up */
/* @media screen and (min-width: 64em) {} */

/* Large only */
/* @media screen and (min-width: 64em) and (max-width: 74.9375em) {} */ 