body{
    background: black url("../images/IMG_3483-6-1200.gif") no-repeat;
    text-align: center;
    margin: 0 auto;
}

#contentWrap {
    /* background: #fc2565 url("../images/IMG_3484.jpg") no-repeat; */
    /* background-image: url("../images/IMG_3483-6-1200.png"); */
}

#banner {
    background-color:black;
    margin: 0px auto black;
    padding: black;
}

#greeting{
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    opacity: .9;
    text-shadow: 0 1px 0 white;
}

#bio {
    text-shadow: 0 1px 0 white;
    font-size: 16px;
}

.fa-github-square {
    width: 30px;
    height: auto;
}

#socialLinks {
    background-color: #c7cfe5;
    opacity: .9;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

#intro {
    padding: 20px;   
    box-shadow: black 2px;
}

.text-box {
    padding: black;
    
}

.pps {
    width: 150px;
    height: 150px;
}

h4, p {
    font-family: 'Comfortaa', cursive;
}

h4 {
    text-align: center;
}

#space {
    height: 231px;
    width: 100%;
}

#projectTitle  {
    color: white;
    text-shadow: 0 1px 0 black;
}

#projectSubTitle {
    color: white;
    text-shadow: 0 1px 0 black;
}

#projectSection {
    position: relative;
}

.card-divider {
    background-color: #627EB9;
    opacity: .9;
    color: white;
}


.project-image {
    width: 230px;
    height:230px;
}

div.card-section {
    display: block;
    overflow: hidden;
    text-align: center;    
}










/* Small only */
/* @media screen and (max-width: 39.9375em) {}

/* Medium and up */
/* @media screen and (min-width: 40em) {} */

/* Medium only */
/* @media screen and (min-width: 40em) and (max-width: 63.9375em) {} */

/* Large and up */
/* @media screen and (min-width: 64em) {} */

/* Large only */
/* @media screen and (min-width: 64em) and (max-width: 74.9375em) {} */ 